* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

.logo {
  width: 3.3rem;
  height: 3.3rem;
}

body {
  font-family: "Instrument Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  color: white;
  z-index: -10;
}

.btn {
  background: #3a98b9;
  border-radius: 10px;
  padding: 20px 30px;
  font-size: 1.1rem;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffb84c;
}

.--learn {
  background-color: #3a97b957;
  color: white;
  margin-left: 10px;
}

/* */

.main_container {
  display: flex;
  align-items: center;
  margin: auto;
  height: 85%;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
}
.main_content {
  display: flex;
}
.main_container__info {
  display: flex;
  flex-direction: column;
  justify-items: start;
  margin-right: 50px;
  height: auto;
  justify-content: space-evenly;
}

.main_container__info p {
  width: 70%;
}

.main_container .main_container__img img {
  width: 500px;
  border-radius: 30px;
  box-shadow: 0 4px 8px #3a97b957, 0 6px 20px 0 #3a97b957;
}

.main_container h1 {
  font-size: 60px;
}

/* Media query */

@media only screen and (max-width: 1026px) {
  .main_container__info {
    order: 1;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
  }

  .main_container__info p {
    width: 100%;
    margin: 30px 0px;
  }

  .main_content {
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    height: 100%;
  }

  .main_container .main_container__img img {
    width: 350px;

    border-radius: 30px;
  }
}

@media only screen and (max-width: 1210px) {
  .main_container h1 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 736px) {
  .main_container__info {
    margin-right: 0;
  }
}

@media only screen and (max-width: 582px) {
  .main_container .main_container__img img {
    width: 250px;
  }

  .main_container h1 {
    font-size: 30px;
  }

  .main_container p {
    font-size: 11px;
  }

  .main_container {
    margin-top: 20px;
  }
}

/* ---------------HEADER-------------------------- */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8%;
  height: 75px;
  line-height: 75px;
  background: #3a97b957;
  box-shadow: 0px 0px 40px 40px #3a97b957;
}

nav .navbar-brand {
  color: white;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

nav .nav-list {
  display: flex;
  z-index: 1;
}

nav .nav-list .nav-item {
  height: 100%;
  padding: 0 30px;
}

.nav-link {
  padding: 10px 16px;
}

nav .nav-list .nav-item .nav-link:hover {
  background: transparent;
  border-radius: 50px;
  cursor: pointer;
  border: 3px solid white;
}

nav .nav-list .nav-link {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 935px) {
  nav {
    padding: 0 2rem;
  }

  nav .nav-list .nav-item {
    padding: 0 20px;
  }
}

@media (max-width: 852px) {
  nav .nav-list {
    display: grid;
    position: absolute;
    background: #404040;
    width: 100%;
    top: 75px;
    left: 0;
    transform: translateY(-120%);
  }

  nav .nav-list .nav-item {
    padding-left: 35px;
  }

  nav .navbar-toggler {
    display: grid !important;
  }
}

nav .navbar-toggler {
  display: none;
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}

nav .navbar-toggler .bar {
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 10%;
}

input {
  display: none;
}

input:checked ~ nav .nav-list {
  transform: translateY(0);
}

input:checked ~ nav .navbar-toggler {
  margin-top: 35px;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
  display: none;
}

input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}

/* ---------------FOOTER-------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 14px;
}

.footer p {
  padding: 8px;
  font-weight: bold;
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -12;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}
